
<div class="container">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-12 text-center">
                      <h4>สินค้า</h4>
                      <hr>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]="productForm" (submit)="onSubmit()">
                      <div class="form-group row">
                        <label for="productTypeId" class="col-4 col-form-label">ประเภทสินค้า</label> 
                        <div class="col-12">
                          <select  class="custom-select" formControlName="productTypeId">
                            <option value="">======== กรุณาเลือก ========</option>
                            <option *ngFor="let item of productTypeList" [value]="item.productTypeId">{{item.productTypeName}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="productName" class="col-4 col-form-label">ชื่อสินค้า</label> 
                        <div class="col-12">
                          <input formControlName="productName"  placeholder="ชื่อสินค้า" class="form-control here"  type="text" required>
                        </div>
                      </div>
                      <div class="alert alert-danger alert-dismissible text-white" role="alert" *ngIf="productForm.controls['productName'].invalid && (productForm.controls['productName'].dirty || productForm.controls['productName'].touched || isSubmit)">
                        <span class="text-sm">*** กรุณากรอกข้อมูล ชื่อสินค้า</span>
                        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close" (click)="setSubmit()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="form-group row">
                        <label for="productDesc" class="col-4 col-form-label">รายละเอียดสินค้า</label> 
                        <div class="col-12">
                          <input formControlName="productDesc" placeholder="รายละเอียดสินค้า" class="form-control here" type="text" required>
                        </div>
                      </div>
                      <div class="alert alert-danger alert-dismissible text-white" role="alert" *ngIf="productForm.controls['productDesc'].invalid && (productForm.controls['productDesc'].dirty || productForm.controls['productDesc'].touched || isSubmit)">
                        <span class="text-sm">*** กรุณากรอกข้อมูล รายละเอียดสินค้า</span>
                        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close" (click)="setSubmit()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="form-group row">
                        <label for="price" class="col-4 col-form-label">ราคา</label> 
                        <div class="col-12">
                          <input formControlName="price" step='0.01' placeholder="ราคา" class="form-control" type="number" (change)="fixDecimals()" pattern="^[0-9]+(\.[0-9]{1,2})?" required>
                        </div>
                      </div>
                      <div class="alert alert-danger alert-dismissible text-white" role="alert" *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].dirty || productForm.controls['price'].touched || isSubmit)">
                        <span class="text-sm">*** กรุณากรอกข้อมูล ราคา</span>
                        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close" (click)="setSubmit()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="form-group row">
                        <label for="quantity" class="col-4 col-form-label">จำนวน</label> 
                        <div class="col-12">
                          <input formControlName="quantity" placeholder="จำนวน" class="form-control here"  type="number" required>
                        </div>
                      </div>
                      <div class="alert alert-danger alert-dismissible text-white" role="alert" *ngIf="productForm.controls['quantity'].invalid && (productForm.controls['quantity'].dirty || productForm.controls['quantity'].touched || isSubmit)">
                        <span class="text-sm">*** กรุณากรอกข้อมูล จำนวน</span>
                        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close" (click)="setSubmit()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="form-group row">
                        <label for="age" class="col-4 col-form-label">รูปสินค้า</label> 
                        <div class="col-12">
                          <input formControlName="files" #fileInput (change)="onFileChanged($event)" placeholder="รูปสินค้า" class="form-control here"  type="file" multiple required>
                        </div>
                      </div>
                      <div class="alert alert-danger alert-dismissible text-white" role="alert" *ngIf="productForm.controls['files'].invalid && (productForm.controls['files'].dirty || productForm.controls['files'].touched || isSubmit)">
                        <span class="text-sm">*** กรุณาใส่ รูปสินค้า</span>
                        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close" (click)="setSubmit()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="form-group row">
                        <div class="offset-5 col-12">
                          <button name="submit" type="submit" class="btn btn-primary">Save Product</button>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
