<div class="container">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="  position-relative mt-n4 mx-lg-10 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3 text-center">Profile</h6>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="username" class="col-4 col-form-label">User Name*</label>
                <div class="col-12">
                  <input formControlName="userName" placeholder="Username" class="form-control here" required="required" type="text" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label for="firstName" class="col-4 col-form-label">First Name</label>
                <div class="col-12">
                  <input formControlName="fristName" placeholder="First Name" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="lastName" class="col-4 col-form-label">Last Name</label>
                <div class="col-12">
                  <input formControlName="lastName" placeholder="Last Name" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-4 col-form-label">Phone</label>
                <div class="col-12">
                  <input formControlName="phone" placeholder="Phone" class="form-control here" required="required" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="age" class="col-4 col-form-label">Age</label>
                <div class="col-12">
                  <input formControlName="age" placeholder="Age" class="form-control here" required="required" type="text">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-4 col-12">
                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 5px;
    background-color: #f8f9fa;
  }
</style>
